@inherits ESComponentBase
@namespace BlazorMasterPage.Client

<div class="es-sidebar">
    <div class="sidebar-header">
        <img src="images/logogmc.png" style="width: 217px; height: 40px; padding-left: 10px;" />
    </div>
    @ChildContent
</div>