@inherits LayoutComponentBase


<div class="page">
    <ESSidebar>
        <ESSidebarContent Title="Main Menu">
            <ESSidebarItem Title="Workflow" IconClassNames="fa fa-external-link-alt essidebar" NavigateTo="cardpage" SidebarItemType="ESSidebarItemType.Workflow"></ESSidebarItem>
            <ESSidebarItem Title="Cube Views" IconClassNames="fa fa-clock essidebar" NavigateTo="counter" SidebarItemType="ESSidebarItemType.CubeView"></ESSidebarItem>
            <ESSidebarItem Title="Dashboards" IconClassNames="es es-Dashboard essidebar" NavigateTo="cardpage" SidebarItemType="ESSidebarItemType.Dashboard"></ESSidebarItem>
            <ESSidebarItem Title="Documents" IconClassNames="es es-Documents essidebar" NavigateTo="cardpage" SidebarItemType="ESSidebarItemType.Document"></ESSidebarItem>
        </ESSidebarContent>
    </ESSidebar>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
