@page "/cardpage"


<h3>CardPage</h3>

<ESCard style="width: 350px; top: 20px; left: 360px; height: 600px;">
    <ESCardHeader ShowBorder=true Title="Sample Card Component"></ESCardHeader>
    <ESCardBody>
        <div style="margin: 20px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam in orci in urna venenatis porta. Aenean eu cursus mi, in lobortis lorem. Sed consequat lectus est, lacinia rhoncus felis tincidunt a.
            Suspendisse potenti. Suspendisse potenti. Sed a placerat ipsum. Morbi blandit sollicitudin pharetra.
        </div>
    </ESCardBody>
    <ESCardFooter>
        <div style="margin: 10px; padding-left:10px;">Footer</div>
    </ESCardFooter>
</ESCard>