/* ---- Colors ---- */
/* ---- Sidebar ---- */
/* 310px */
.xf-card {
  position: absolute;
  font-size: 14px;
  display: block;
  font-weight: 200;
  border: 1px solid #ccc;
  border-radius: 0.425rem;
  -webkit-box-shadow: 3px 4px 6px #a1a1a1;
  box-shadow: 3px 5px 8px #a1a1a1;
  background-color: #FFF;
}

.xf-header {
  border: none;
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
}

.xf-card .xf-header .xf-header-text {
  font-size: 1.25rem;
  color: #2b6386;
  padding: 0.6rem;
  border-bottom: 1px solid #FFF;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.35);
}

.xf-body {
  padding: 0.6rem;
  padding-bottom: 0.3rem;
  vertical-align: middle;
  background-color: #FFF;
  color: rgb(58, 58, 58);
}

.xf-card .xf-footer {
  vertical-align: middle;
  padding: 0.6rem;
  text-align: left;
  background-color: #FFF;
  border-top: 1px solid #FFF;
}
